.Rproj.user
.Rhistory
.RData
.Ruserdata
.httr-oauth
.DS_Store
.quarto
**/*.quarto_ipynb
revealjs_template_light_files/
revealjs_template_dark_files/
revealjs_template_light.html
revealjs_template_dark.html
/.quarto/
